<div id="how_editor" style="display: none;">
  <p><b>Modern Editor/Translator:</b> Surname [comma, space] forename of authors or editors as they are listed on the
title page.  If in doubt, use what is entered in the World Catalog entry.  Insert comma and ed. or trans. after name(s)
of editors or translators, but only enter editors when they have done the work of editing and translation (thus, omit
the name of the 'general editor' of a series). Separate multiple authors/editors by a semi-colon. For guidelines on
citing the names of foreign authors, see <i>CManual</i> 7.8-7.20. If the book is a reprint with a new introduction by a
different author, put the name of the new author in the Introduction Summary field, unless the new author made
significant corrections (more than a list of corrigenda, however) or added a new translation, in which case the new
author's name should also be placed here. Titles (such as S.J., POPE, OR BISHOP) are generally not entered for modern
authors, but can be noted in the Comments. Enter accents on foreign names.  If the text is also online and the web
author has made significant changes to the text (corrected transcriptions, added translations or notes) then include
his/her name in this field with a note as to her/his contribution in the Comments field. But, do not enter the name of a
web editor/compiler here unless that person has actually done the translation or edition (thus Paul Halsall should not
be entered as an editor when entering items on the <i>Internet Medieval Sourcebook</i>) unless you are citing a work he
translated himself.</p>
</div>

<div id="how_title" style="display: none;">
  <p><b>Book/Article Title:</b> Article or chapter title (in quotation marks), or book title.  If the item is a chapter
in a book, put 'in' after the chapter title and then add the book title.
</div>

<div id="how_publication" style="display: none;">
  <p><b>Publication Information:</b> Enter in this order and separate information in each section with a period:
    <ol>
      <li>publication series, or journal title, and volume number; for e-texts, put the name of the website or project 
here i$
known;</li>
      <li>place of publication if a book (not included if the volume is published in a local or regional record
society);</li>
      <li>publisher, if a book (not needed for a record society publication);</li>
      <li>number of volumes if a multi-volume work;</li>
      <li>pages if an article or book chapter.</li>
    </ol>
  </p>
</div>

<div id="how_pub_date" style="display: none;">
  <p><b>Publication Date:</b> Year(s) of publication.  If this is a reprint, put the reprint date in square
brackets after the original publication date, preceded by RPT. Thus, a work first published in 1899 and reprinted in
1907 would be entered as: 1899 [RPT. 1907]. If the work is a new or revised edition, that information will be entered
only in the Publication Info field.  The Publication Year field will include the original date of publication.  There
are times when an entirely new edition of a work appears; in this case, make an entirely new entry for this work. Do not
put the date an item was mounted on a web site as the date of publication unless the web translation/edition is the
first to appear anywhere.  </p>
 </div>

<div id="how_isbn" style="display: none;">
  <p><b>ISBN:</b> If you can track down the ISBN number without a huge
hassle, enter it here.  It is usually on the page after the title page. Do not include hyphens or spaces: only include
the 10 or 13 digits of the ISBN number.  ISBN numbers are not available for older works.  Enter only one ISBN number
into the field.  On the website, the ISBN number will be used to provide a link to the book in Worldcat: correct
formatting is necessary for this link to work.</p> </div>

<div id="how_text_pages" style="display: none;">
<p><b>Text Pages:</b> Total number of pages of primary source text (NOT the same as the pagination of an article or book
chapter).</p>
</div>

<div id="how_link" style="display: none;">
<p><b>Hyperlink:</b> If the <i>full</i> text of the primary source is available online, put the URL here.  In general, 
we
do not include short primary source extracts on the web in the OMSB. If you want to include a link to information about
the source that does not include the full text, put it in the Comments.  In the Hyperlink field, only insert a hyperlink
to the actual source, not to information about or archival holdings of the source; hyperlinks to partial translations or
to useful, further information on a source (such as when you are citing a long review from <i>The Medieval Review</i>)
can go in the Comments field. When a text is in multi-volume editions where each volume is a different URL, put the
hyperlink to the first volume in this field, and list the others in the Comments field. When users view the record, this
field will become a hyperlink, so it is important to format it correctly.  It is recommended that you test the link
when you save the record.</p>
</div>

