
<div id="how_myid" style="display: none;">
  <p><b>MyID:</b> This field will only be seen by the catalogers, and is used to keep track of individuals' data.
  Number records consecutively, followed by your unique suffix.</p>
</div>

<div id="how_cataloger" style="display: none;">
  <p><b>Cataloger Initials:</b> (Two or three) initials of person entering data.  If the cataloger has seen and
examined the source, enter initials in capital letters; otherwise enter in lower case.  If a cataloger substantially
edits a record created by another cataloger, both cataloger's initials appear, separated by a semicolon.</p>
</div>

