<div id="how_app_index" style="display: none;">

<p><b>Index:</b> Check if the work contains an index. Put further comments on the Index (for example, separate indices 
for Personal Names and Subjects) in the Comments.</p>

</div>

<div id="how_app_glossary" style="display: none;">

<p><b>Glossary:</b> Check if the work contains a glossary.  Put further comments (for example, the length of the 
glossary in pages, whether the glossary is specialized, such as on weights and measures, or just Latin terms, or just 
Gascon vocabulary, etc.).</p>

</div>

<div id="how_app_appendices" style="display: none;">

<p><b>Appendix:</b> Check if the work contains appendices.  You will always need to list the contents and length of the 
appendices in the Comments; for example: <span class="field">App. A: Chronological list of Exeter Bishops from 1100-1540 
(2 pp.); App II: Translation of Charter from King Louis VIII to Burgesses of Rouen, 1182 (4 pp.),</span> etc.).  If the 
text in an Appendix is different from the main text, you can add its name to the Record Name field.  If, however, the 
text within an Appendix is substantial, it is best to make a new record for it.  Thus, some individual volumes or works 
published under the same title may have three or more entries in order to list the entire contents of the volume. </p>

</div>

<div id="how_app_bibliography" style="display: none;">

<p><b>Bibliography:</b> Check if the work contains a bibliography.</p>

</div>

<div id="how_app_facsimile" style="display: none;">

<p><b>Facsimile:</b> Check if the text includes a complete (or mostly complete) facsimile of the original manuscript. 
Further information may be included in the Comments.</p>

</div>

<div id="how_app_intro" style="display: none;">

<p><b>Introduction:</b> Check if the work contains an introduction. Put details about the Introduction in Introduction 
Summary field.</p> 

</div>

<div id="how_comments" style="display: none;">

<p><b>Comments:</b> This section contains information not covered by the other fields and is usually the single most 
useful part of the annotation for new users who are unfamiliar with the source.  When you are writing up this section, 
try to put yourself in the shoes of an undergraduate or new grad student who is not familiar with the source or with 
some of the descriptive terms usually used to describe that source. The types of information you can include are:
<ol>
<li>
  Whether the printed source represents selections, abstracts, or full text;</li>
<li>
  Whether the edition is an updated, revised, or the standard edition of a text that has been published more than 
once; </li>
<li>
  Specific dates and titles of individual documents if scattered over a wide range of years.  If the source 
contains additional documents that comprise more than 20 pages, you should consider writing up an individual entry for 
the additional document if it differs greatly in genre or subject from the other documents in the source.</li>
<li>
  Further notes on the type of source and what it covers.  It is especially important to indicate exactly what 
type of information users may find in this source since it is likely that half of the users will have never heard of 
this source before, and may not know what technical terms such as "clerical subsidy", or "council decrees", or even 
"account roll" really mean.  Please provide short definitions or explanations for technical terms (such as "movables" or 
"clerical subsidy" or "metaphysical", etc.).</li>
<li>
  You can also list particularly helpful secondary sources on this primary source, including lengthy reviews or 
other guides. If you rely on an online or printed review of this work, please acknowledge your reliance by giving the 
URL of the site or the bibliographic citation to the printed review.</li>
<li>
  It is crucial to give some historical context for most entries so that undergraduate users (and even grad 
students) know something about the authority that generated the record, the circumstances surrounding its compilation, 
the role or importance of the author in the larger textual world, and what types of information can be garnered from the 
record (which will help explain why you choose the Subject headings you do).  In many instances you can develop and use 
a boilerplate paragraph for particular sources or specific authors, and then simply note the distinguishing 
characteristics of this particular source, or offer a two- to four-sentence summary of the author and his/her 
importance.  For examples on the latter, see the entries on Chaucer.</li>
</ol>

</div>

<div id="how_intro_summary" style="display: none;">

<p><b>Introduction Summary:</b> Enter information on the contents and range (often can be seen in the subheadings of the 
Introduction) of the introduction, and its total pagination. It is also useful, if you have time, to summarize the 
contents of particularly long introductions.</p>

</div>

<div id="how_notes" style="display: none;">

<p><b>Notes:</b> This field will only be seen by the catalogers, and is intended as a space to make any annotations, 
notes to self, suggestions of new items to add to into this field.</p>

</div>

<div id="how_live" style="display: none;">

<p><b>Make Record Public:</b> This field determines what records are hidden from the public, and what records are 
available for the general public who use the search function.  Once Maryanne has edited your records, check the box to 
make a record available to the public.</p>

</div>

<div id="how_formatting" style="display: none;">

     <table border="1">
      </td><td colspan="2">
        <b>Basic Formatting:</b>
      </td></tr>
      <tr>
        <td>You type:</td>
        <td>Looks like:</td>
      </tr><tr>
        <td>_italics_</td>
        <td><i>italics</i></td>
      </tr><tr>
        <td>*bold*</td>
        <td><b>bold</b></td>
      </tr><tr>
        <td>"Google":http://google.com</td>
        <td><a href="http://google.com">Google</a></td>
      </tr><tr>
        <td>* an item <br /> * another item <br />  * and another </td>
        <td><ul id="none"><li>an item</li><li>another item</li><li>and another</li></ul></td>
      </tr><tr>
        <td># item one <br /> # item two <br /> # item three </td>
        <td><ol style="margin-left: -1em;"><li>item one</li><li>item two</li><li>item three</li></ol></td>
      </tr><tr>
        <td colspan="2">
          <a href="http://hobix.com/textile/quick.html" target="_blank">More formatting options</a>
        </td></tr>
    </table>

</div>
