<div id="how_text_name" style="display: none;">
  <p><b>Text Name:</b> Name(s) by which the text is known.  Use to:
    <ol>
      <li>to name specific  government records, such as <span class="field>Inquisitions Post Mortem</span> or <span
class="field">Pipe Rolls</span>;</li>
      <li>to further distinguish a type of record, such as <span class="field">Exeter Local Customs Accounts</span> from
<span class="field">Exeter National Customs Accounts"</span>;</li>
      <li>to cite the specific name of a record (such as the <span class="field">Oak Book of Southampton</span>;</li>
      <li>to cite the specific name of a literary work, such as <span class="field">Song of Roland</span>.</li>
    </ol></p>
  <p> Names are not in quotation marks. If you enter more than one Record Name, separate them with a semi-colon.  In
many cases, this field is the same as the Title.  You may also enter alternate names or variant spellings for one work
to make it easier for users to find in a search: for example, enter both <span class="field">Song of Roland</span>
and<span class="field">Chanson de Roland</span>. If you use more than one text name in a record, separate them by a 
semi-colo$
</div>

<div id="how_dates" style="display: none;">
  <p><b>Earliest Date:</b> Enter the earliest year covered by the record.  Do not use 'c.' or any other characters.
<b>Latest
Date:</b> Enter the latest year covered by records.  Do not use 'c.' or any other characters.</p>
  <p>Both dates must be included to allow users to find records within their desired date range.  If the source being
entered is a literary, philosophic, or theological text, enter the date of composition.  If the source is a chronicle or
annal that covers many centuries, enter the dates for which the author's information is likely to be historically
accurate.  For example, for a universal chronicle that starts with creation but was written in the 8th century, use the
date of composition in the 8th century as the Latest Date, and look through the chronicle to see when information starts
being factual rather than legendary; for the universal chronicle this is likely to be sometime in the 6th century.
Sometimes information in the Introduction can help you determine when the first factual information is being entered.
In all cases, however, record your assumptions and the earliest dates the chronicle purports to cover in the Comments
field. For special problems dealing with Irish works, see <%= link_to "Irish Sources", {:controller => 'about',
:action => 'sourceirish' }, :popup => true %>.
 </div>

<div id="how_trans_none" style="display: none;">
  <p><b>Original Language Included</b>: Check box if text is printed in the original language.</p>
</div>

<div id="how_trans_english" style="display: none;">
  <p><b>English Translation:</b> Check box if English translation is included.
</div>

<div id="how_trans_french" style="display: none;">
  <p><b>French Translation:</b> Check box if French translation is included.
</div>

<div id="how_trans_other" style="display: none;">
  <p><b>Other Translation:</b>  Check box if translation in another modern language is offered.  Note the language in
the translation comments.</p>
</div>

<div id="how_trans_comment" style="display: none;">
  <p><b>Translation Comments:</b> Other information about the translation, such as whether it appears on facing page of
original text, whether translations are only offered for some of the text, or whether a translation of poetry is in
verse or prose.  Preface your comment with an explanation as, for example: <span class="field">Based on the edition
in J.P. Migne, Patrilogia Latina, Vol. XX</span>, or <span class="field">Translation based on Latin Edition in
[name the work]</span> or <span class="field">Modernized English translation.</span></p>
</div>

<div id="how_archive" style="display: none;">
  <p><b>Archival Reference:</b> Archive, record office or library where original documents are
located; include shelf no/class/call no. if known. This information is often in the Introduction of the work, or at the
beginning of the original text.</p>
</div>

<div id="how_author" style="display: none;">
  <p><b>Medieval Author</b>: Name of medieval author(s), if known. Author names are given when there is an identifiable
author or customary attribution of a particular text, which will include literary, philosophical, and theological texts,
as well as many chronicles and historiographical texts. However, authors are not listed for documents such as bishop's
registers, court rolls, town council minutes, notarial registers, charters, account rolls, etc. Choose from the
drop-down list.  If you type the beginning of the author's name, the list will jump to that name.  To add more authors,
click the "Add an author" link.  To find the name of a medieval author as used in the database, click the "Find Authors"
button: this will open a new browser window or tab where you can type in any part of an author's name (including
alternate spellings) to find the author.  If the name of the author is not in the database, type it into the "Addenda"
field; the name will be added to the database. If you know the author's dates, list them in the "Addenda" field as well.
</div>

<div id="how_language" style="display: none;">
  <p>Original Language</b>: Original language of source.  Choose all applicable options from the drop-down list.  To add
more languages, click the "Add a language" link.  If you select <span class="field">other</span>, make a note of the
language in the Comments field.</p> </div>

