<div id="how_region" style="display: none;">

  <p><b>County/Town/Parish/Village:</b> If more than one county or region or town, separate by [semi-colon,space] (for 
example: <span class="field">Norfolk; Norwich; East Anglia,</span> which refer respectively to a county, a town, and a 
region). If the Introduction to a vernacular text indicates the dialect it is written in, that region may also be 
entered here. For bishop's records, enter the seat of the diocese. For monastic records, enter the name of the monastery 
and its specific location.  This field may often be left blank if the record covers no specific place.

</div>

<div id="how_country" style="display: none;">

<p><b>Geopolitical Region:</b> Choose as many as are applicable from the drop-down list.  To add more regions, click the 
"Add a region" link.  If the work is specific to the author's country of residence, then include that country.  Also 
enter the countries covered by the document; thus an epic composed in Burgundy discussing campaigns in Spain would 
include <span class="field">Spain</span> in this field and <span class="field">Burgundy</span> in the County/Region 
field. If the work is written in a vernacular, include that country here (for example, enter <span 
class="field">England</span> for Old English or Middle English poems and narratives).  If the work is a general 
philosophic or theological work meant to appeal to the wider intellectual community, enter <span 
class="field">Europe</span> here.


</div>

