<div id="how_type" style="display: none;">

<p><b>Record Type:</b> Type of record (use drop-down list). Click "Add a record type" to add additional record types.  
For complete descriptions of record types, see <%= link_to "Record Types", {:controller => 'about', :action => 
'types' }, :popup => true %>.</p>

</div>

<div id="how_subject" style="display: none;">

<p><b>Subject Heading:</b> You must enter one or more subject headings (See descriptions of <%= link_to "Subject 
Headings", {:controller => 'about', :action => 'subjects' }, :popup => true %>).  If you cannot figure out which to use, 
or think we need to add others, contact Morgan or Maryanne.  In general, the more subject headings used, the better since 
they allow users to locate texts of interest to them.  The information you place in the Comments or Introduction Summary 
fields should also reflect what you choose for the Subject Headings field.</p>

</div>

