<%= render :partial => 'users/loggedin' %>

<h3>Create a new record</h3>

<div id="entry">

<div id="error_message">
  <%= error_messages_for 'source' %>
</div>

<p>Clicking on the "?" after the field name will show/hide instructions for that field.</p>

<% form_for :source, :url => sources_path do |f| %>


<%= render :partial => 'entryform', :locals => { :f => f } %>


<p><%= submit_tag "Create Record" %></p>
<% end %>

</div>
