<h2>Acknowledgements</h2>


<p>The editors wish to acknowledge the timely financial support of Dr. 
Nancy Busch, Dean of the Graduate School of Arts and Sciences at Fordham 
University, who has provided funds for graduate assistantships to work on 
data entry in the summers. Warm thanks also to Dr William Baumgarth and Dr 
Hector Lindo-Fuentes, Associate Deans of the Graduate School at Fordham, 
and to their assistant, Lydia Ocasio, for their help in facilitating the 
assistantships.</p>

<p>Thanks to Jonathan Kay and Alec Heller of Very Clever Consulting for
the behind-the-scenes magic of database design, technical support, and
website hosting.</p>

<p>Finally, we also thank Charles Sanson and the Fordham Web
Committee for their support and technical help with this project.</p>


<br><br><br><br><br>
<hr width=50%>
<p><span>Legal Notice</span><br>
All information on this website is copyright 2004, Center for Medieval
Studies at Fordham University.  Fordham University is not responsible for
the content of external websites.</p>

