<h2>Compilers</h2>

<p>The following people have contributed entries to the database. Listed here in alphabetical order are their names, the 
dates they contributed entries to the bibliography, and the abbreviations under which they appear in the Cataloger 
field.  When the compiler has personally examined the book or publication being entered, her/his initials are entered in 
capital letters in the Compiler field.</p>

<table align="center" cellpadding="5">
<tr>
<td>cbd</td><td>Christopher Beck</td><td>Summer 2004 - Summer 
2006</td></tr>
<td>kat</td><td>Katharine A. Brown</td><td>Summer 2003</td></tr>

<td>mcb</td><td>Christina Bruno</td><td>Fall 2006 - ongoing</td></tr>
<td>hkb</td><td>Heather Burns</td><td>Fall 2004 - Spring 2005</td></tr>
<td>kc</td><td>Kristen Canzano</td><td>Fall 2004 - Spring 2005</td></tr>
<td>jbf</td><td>Julie Fifelski</td><td>Fall 2005 - Spring 2006</td></tr>
<td>jmg</td><td>J. Gundacker</td><td>Summer 2004</td></tr>

<td>evh</td><td>Edward Harvey</td><td>Fall 2006 - Spring 2007</td></tr>
<td>mk</td><td>Morgan Kay</td><td>Summer 2004 - ongoing</td></tr>
<td>eak</td><td>Elizabeth Keohane</td><td>Fall 2006 - Spring 
2007</td></tr>
<td>mak</td><td>Maryanne Kowaleski</td><td>Summer 2003 - ongoing</td></tr>
<td>kml</td><td>Kate Lansky</td><td>Fall 2005 - Spring 2006</td></tr>

<td>rll</td><td>Rachel Liptak</td><td>Fall 2005 - Spring 2006</td></tr>
<td>amm</td><td>Anna Moscatiello</td><td>Fall 2004 - Fall 2006</td></tr>
<td>jjm</td><td>John Moscatiello</td><td>Fall 2004 - Fall 2006</td></tr>
<td>cd</td><td>Caroline Panter</td><td>Fall 2006 - Spring 2007</td></tr>
<td>ses</td><td>Samantha Sagui</td><td>Summer 2007 - ongoing</td></tr>

<td>kmu</td><td>Kristen Uscinski</td><td>Fall 2004 - Spring 2005</td></tr>
</table>

<br /><br />
<p><small>Last updated September 7, 2007</small></p>

