<h2>Contents: Series and Texts Entered</h2>

<p>Selection criteria and problems of sources:
<ul>
  <li><%= link_to "French Sources", {:controller => 'about', :action => 'sourcefrench' } %></li>
  <li><%= link_to "Irish Sources", {:controller => 'about', :action => 'sourceirish' } %></li>
  <li><%= link_to "Online Sources", {:controller => 'about', :action => 'sourceonline' } %></li>
</ul>

<p>The following is a list of series and publishers whose works have been
entered into the database.</p>

<p><b>Anglo-Saxon Texts</b><br>
Ed. Andy Orchard, Boydell and Brewer series, 1999-.Editions of Anglo-Saxon
texts. 4 published; all in database.</p>

<p><b>Canterbury and York Society</b><br>
Ed. R.L. Storey, now Boydell and Brewer, originally published by the
Society, 1909-. English ecclesiastical records, primarily bishop.s
registers.  All medieval volumes have been entered into the database.</p>

<p><b>Cistercian Fathers Series</b><br>
Cistercian Publications, 1970- . Modern editions of texts by Cistercians.
18 of 65 texts entered.</p>

<p><b>Cistercian Studies Series</b><br>
Cistercian Publications, 1969- . Only about 50 of the 204 printed primary
sources in this series are medieval texts;  8 have been entered thus
far.</p>

<p><b>Early English Text Society Original Series</b><br>
EETS, 1864-. In progress. Critical editions of texts in Old and Middle
English.  Over 200 texts are in the database.</p>

<p><b>Focus Library of Medieval Women</b><br>
Ed. Jane Chance, 1990- . Now published by Boydell and Brewer, 1997-. Short
books with translations of the texts by medieval women (mostly mystics).
All 13 volumes up to 2002 are in the database.</p>

<p><b>Henry Bradshaw Society</b><br>

Ed. Michael Lapidge, Boydell and Brewer, 1891-. Transcriptions of British
liturgical documents. Volumes 1 (1891) through 30 (1905) are in the
database.</p>

<p><b>The I Tatti Renaissance Library</b><br>
Ed. James Hankins.  Harvard University Press. Collections of primary
texts centered around Reniasance (especially humanistic) themes. 15 of 15
texts are in the database.</p>

<p><b>Irish Texts Society</b><br>
1899-. Publishes philological works, dictionaries, and primary sources,
some in translation.  8 medieval texts of about 40 medieval volumes are in
the database. </p>

<p><b>Manchester Medieval Sources Series</b><br>
Eds. Rosemary Horrox and Janet L. Nelson, Univ. of Manchester Press. Tend
to contain longer introductions and explanatory material in each volume.
Once they have been out for four or five years, they are also made
available online.  15 volumes are in the database.</p>

<p><b>Mediaeval and Modern Irish Series</b><br>
Begun by the Irish Stationery Office in the 1930s and continued by the
Irish Manuscripts Commission and the Dublin Institute for Advanced
Studies.  Publications include medieval Irish texts, few of which have
been translated into English; about 10 of the c. 25 medieval texts in the
series have been entered.</p>

<p><b>Medieval Chronicles</b><br>
Ed. Maria Myers, Boydell and Brewer series, 1999-. 3 published; all in
database.</p>

<p><b>Medieval Texts and Translations</b><br>
Boydell and Brewer series, 1992-. 5 published; all in database.</p>

<p><b>Middle Ages Series</b><br>

Ed. Ruth Mazo Karras, University of Pennsylvania Press. Contains
documentary collections on specific themes, as well as monographs. All 32
volumes of medieval texts have been entered into the database for period
1972-1996.</p>

<p><b>Monumenta Germaniae Historica</b><br />
1826-. Sources for the study of German history from the end of the Roman 
Empire to roughly 1500.  69 texts are currently in the database.</p>

<p><b>Oxford Medieval Texts</b><br>
Oxford University Press, 1967-. Modern editions, usually with
translations. Publishes mostly chronicles and saints lives; 53 of 65
volumes are in the bibliography.</p>

<p><b>Penguin Classics</b><br>
Penguin Press, ~1940-. Medieval titles are numerous; about 100 have been
entered into the database. </p>

<p><b>Readings in Medieval Civilizations and Cultures</b><br>
Broadview Press.  Publishes translations of documents on particular
themes.  8 of 8 volumes are in the database.</p>

<p><b>Records of Civilization, Sources and Studies</b><br>
Columbia University Press, 1915-. Many but not all are medieval; many
published in Norton paperback editions, and the contents of many which
went out of copyright are available online on the <a
href="http://www.fordham.edu/halsall/sbook.html">Internet Medieval
Sourcebook</a>. All 23 of the medieval volumes are in the database.</p>

<p><b>Records of Early English Drama</b><br>
Centre for Research in Early English Drama, University of Toronto, 1979-.
REED examines the historical MSS that provide external evidence of drama,
secular music, and other communal entertainment and ceremony from the
Middle Ages until 1642.  13 titles are in the database.</p>

<p><b>Rolls Series</b><br>
Published by the British Government under the official title "The 
Chronicles and Memorials of Great Britain and Ireland during the Middle 
Ages," c.1850-1900.  Collects chronicles and other historiographical 
works relating to British history, as well as some literary and 
hagiographical works and documentary evidence.  All 99 texts, contained in 
over 200 volumes, are in the database.</p>

<p><b>Selden Society</b><br>
c.1890-. The Selden Society is devoted to the study of English legal 
history, and publishes British legal documents.  Roughly 60 texts are in 
the database.</p>

<p><b>Scriptores Latini Hiberniae</b><br>
Dublin Institute for Advanced Studies, 1955-1998. Latin texts written in
Ireland. 10 of the 14 volumes are in the database.</p>

<p><b>TEAMS Middle English Text Series</b><br>

1990- . Transcriptions of Middle English texts designed for classroom use
and non-specialists, available as books or online. All 40 volumes
published up to 2003 are in the database.</p>

<p><b>Traditio</b><br>
Fordham University Press, 1945-. Journal of ancient and medieval history
which frequently includes editions of medieval texts.  All relevant texts
from 1946-1948 are in the database.</p>

<p><b>Translated Texts for Historians</b><br>
Liverpool University Press, 1985-. 43 texts published, at least half are
medieval; 28 published 1988-2002 are entered in the database.</p>

<p><b>Translations and Reprints of the Original Sources of European History</b><br>
Published for the Dept. of History, University of Pennsylvania, 1894-1907.
21 medieval selections in 7 volumes are in the database.</p>




<h2>Online Sources</h2>
<p>The following websites contain many primary sources, all of which have been entered separately into the database.  In 
addition to these, dozens of websites containing one or a few texts are also in the database.</p>

<p><b><a href="http://www.british-history.ac.uk/">British History 
Online</a></b><br />
A digital library containing some of the core printed primary and 
secondary sources for the medieval and modern history of the British 
Isles.  Includes roughly 30 medieval texts, all of which are in the 
database.</p>

<p><b><a href="http://www.ucc.ie/celt/index.html">CELT (The Corpus of
Electronic Texts)</a></b><br> A website of Irish texts in original and in
translation, maintained by the University College, Cork, Ireland. 24 texts
(of c. 100 medieval texts) are in the database.</p>

<p><b><a href="http://www.hti.umich.edu/c/cme/bibl.html">Corpus of Middle
English Prose and Verse</a></b><br> Most of the Middle English works on
this site, maintained by the University of Michigan, are electronic
editions of public domain volumes of the Early English Text Society.
Contains 60 texts in Middle English, all of which are in the database.
</p>

<p><b><a href="http://image.ox.ac.uk/">Early Manuscripts at Oxford
University</a></b><br> This website has high resolution digital facsimiles
of over 80 medieval and early modern manuscripts in institutions
associated with Oxford University, including the Bodleian Library and
Balliol College.  72 medieval manuscripts are in the database.</p>

<p><b><a href="http://etext.lib.virginia.edu/uvaonline.html">Electronic Text
Center at the University of Virginia</a></b><br> The Electronic Text
Center has tens of thousands of texts from many countries and time
periods. There are roughly 26 texts in Middle English available to the
general public on the website, all of which are in the database.</p>

<p><b><a href="http://www.yorku.ca/inpar/">In Parenthesis</a></b><br>

Maintained at the University of York in Toronto, Canada, In Parenthesis
makes available PDF documents of out-of-copyright translations and
editions of a wide variety of texts and language learning tools.  Roughly
40 medieval texts are available, all of which are in the database.</p>

<p><b><a href="http://www.fordham.edu/halsall/sbook.html">Internet Medieval
Sourcebook</a></b><br> Maintained by Paul Halsall at Fordham University.
Contains hundreds of online editions of texts, as well as links to other
websites of primary sources. Roughly 65 texts are in the database.</p>

<p><b><a
href="http://www.georgetown.edu/labyrinth/library/library.html">Labyrinth
Library</a></b><br> Includes texts in original languages and translation.
The most useful texts are those in Old English.  8 texts are in the
database.</p>

<p><b><a href="http://www.trytel.com/~tristan/towns/towns.html">Medieval 
English Urban History</a></b><br />A website created by Stephen Alsford 
that illuminates all aspects of life in medieval English towns.  Includes 
dozens of brief documents on a wide range of topics related to urban 
history.</p>

<p><b><a
href="http://www.leeds.ac.uk/history/weblearning/MedievalHistoryTextCentre/medievalTexts.htm">Leeds
Medieval History Texts in Translation</a></b><br>Maintained by Graham Loud
at Leeds University, this website contains the first published English
translations of texts relating to the Pontificate of Gregory VII, the
Crusades, and the Norman Kingdom of Sicily.  Roughly 20 texts are
available, all of which are in the database.</p>

<p><b><a href="http://monasticmatrix.org/">Monastic Matrix</a></b><br />
A scholarly resource for the study of women's religious communities from 
400 to 1600.  Includes a collection of over 30 primary sources, all of 
which are in the database.</p>

<p><b><a href="http://www.cyberscotia.com/ogmios/main-books.html">Ogmios
Press</a></b><br> Ogmios Press is an online publishing house offering free
access to a catalogue of historical texts. They specialise in Scottish and
Celtic subjects, publishing first online editions of significant or
otherwise intriguing texts. All of their medieval texts are in the
database.</p>

<p><b><a href="http://sunsite.berkeley.edu/OMACL/">OMACL: Online Medieval
and Classical Library</a></b><br> Maintained by the University of
California at Berkeley. Contains roughly 40 medieval texts in translation,
all of which are in the database.</p>

<p><b><a href="http://www.the-orb.net/libindex.html">ORB: Online Reference
Book for Medieval Studies</a></b><br> Contains many new transcriptions and
translations of important medieval texts that have not been previously
accessible in print or electronic format. Roughly 20 texts are in the
database.</p>

<p><b><a href="http://www.gutenberg.org/">Project Gutenberg</a></b><br />
Begun in 1971 and maintained entirely by volunteers, Project Gutenberg is 
the oldest collection of digital texts.  It contains thousands of full 
texts of public domain books, produced in simple formats that should 
outlast major technolgical changes.  63 medieval texts are in the 
database.</p>


<p><small>Last Updated: September 10, 2007</small></p>

