

<h3>Geopolitical Region</h3>

<div align="center">

<table width="80%">
<tr><td>
Africa<br />
Algeria<br />
Armenia<br />

Asia<br />
Austria<br />
Balkans<br />
Belgium<br />
Bohemia<br />
British Isles<br />
Bulgaria<br />
Byzantium<br />
China<br />

Crete<br />
Czech Republic<br />
Denmark<br />
Egypt<br />
England<br />
</td><td  valign="top">
Europe<br />
Finland<br />
Flanders<br />

France<br />
Germany<br />
Greece<br />
Holy Roman Empire<br />
Hungary<br />
Iberian Peninsula<br />
Iceland<br />
India<br />
Ireland<br />

Italy<br />
Middle East<br />
Netherlands<br />
</td><td>
New World<br />
Norway<br />
Persia<br />
Poland<br />
Portugal<br />

Prussia<br />
Russia<br />
Scandinavia<br />
Scotland<br />
Spain<br />
Sweden<br />
Switzerland<br />
Tunisia<br />
Turkey<br />

Ukraine<br />
Wales<br />
Yugoslavia<br />
</td></tr></table>

</div>


<small><p>Last Updated: September 7, 2007</p></small>

