<h2>Feedback</h2>

<p>Fordham University's Center for Medieval Studies values any thoughts you may have about the scope, contents, and ease 
of use of the OMSB. Whether you just want to tell us how you found us, or want to offer suggestions for improvement, we 
are happy to hear from you.  Or, if you would like to <a href="#update">Help us Update the Bibliography</a>, see the 
contact information at the bottom of this page.</p>

<table align="center"><tr><td>
<form method="post" action="http://veryclever.net/~medieval/cgi-bin/feedback.cgi">
<p>
<i>All fields are optional.</i><br />

Name: <input type="text" size="50" name="name"><br />
Email: <input type="text" size="50" name="email"><br />
  <input type="checkbox" name="mailing list" value="Mailing List"> Check if you want to get email 
announcements when we update the site</p>
<p>Occupation: <br />
<input type="checkbox" name="teacher" value="Teacher">Teacher  &nbsp;&nbsp;Institution: <input 
type="text" size="35" name="teacher institution"><br />
<input type="checkbox" name="student" value="Student">Student  &nbsp;&nbsp;Institution: <input 
type="text" size="35" name="student institution"><br />
<input type="checkbox" name="scholar" value="Independent Scholar">Independent Scholar<br />

<input type="checkbox" name="other occupation" value="Other">Other: <input type="text" size="45" 
name="occupation"><br /></p>

<p>How did you find out about the OMSB?<br />
<input type="checkbox" name="search engine" value="Search Engine">search engine<br />
<input type="checkbox" name="word of mouth" value="Word of Mouth">word of mouth<br />
<input type="checkbox" name="publicity" value="Publicity">OMSB announcement<br />
<input type="checkbox" name="other" value="Other">Other: <input type="text" size="45" name="find other"></p>
<p>How would you rate: (1 being low, 5 being high)<br />
<table>
<tr><td valign="top">

Search functions' ease of use: </td>  <td>
        <input type="radio" name="ease of use" value="1">1&nbsp;
        <input type="radio" name="ease of use" value="2">2&nbsp;
        <input type="radio" name="ease of use" value="3">3&nbsp;
        <input type="radio" name="ease of use" value="4">4&nbsp;
        <input type="radio" name="ease of use" value="5">5&nbsp;

        </td></tr><tr>
<td valign="top">Consistency of quality: </td>  <td>
        <input type="radio" name="consistency" value="1">1&nbsp;
        <input type="radio" name="consistency" value="2">2&nbsp;
        <input type="radio" name="consistency" value="3">3&nbsp;
        <input type="radio" name="consistency" value="4">4&nbsp;

        <input type="radio" name="consistency" value="5">5&nbsp;
        </td>	</tr><tr>
<td valign="top">I found what I needed:  </td>  <td>
        <input type="radio" name="found it" value="1">1&nbsp;
        <input type="radio" name="found it" value="2">2&nbsp;
        <input type="radio" name="found it" value="3">3&nbsp;

        <input type="radio" name="found it" value="4">4&nbsp;
        <input type="radio" name="found it" value="5">5&nbsp; 
        </td></tr><tr>
<td valign="top">Range of information:  </td>  <td>
        <input type="radio" name="range" value="1">1&nbsp;
        <input type="radio" name="range" value="2">2&nbsp;
        <input type="radio" name="range" value="3">3&nbsp;

        <input type="radio" name="range" value="4">4&nbsp;
        <input type="radio" name="range" value="5">5&nbsp;</td></tr></table></p>
<p>Any texts/subjects/document types/etc. you would like us to add? <br />
<textarea cols="50" rows="6" name="additions">
</textarea></p>

<p>Suggestions for improvement or any other comments: <br />
<textarea cols="50" rows="6" name="comments">
</textarea></p>
</div>
<div align="center">

<input type="submit" value="Submit Feedback">
</div>
</form>
</td></tr></table>






<br /><br /><br />

<h2><a name="update"></a>Help Us Update the Bibliography</h2>


<p>Since the number of printed sources for the Middle Ages is so large, any new contributions you can make to the Medieval 
Sources Bibliography would be most welcome.  If you are interested in adding sources to the OMSB, or if you would like to 
add corrections or further information to existing sources, please email us at <a 
href="mailto:MedvlSources@fordham.edu">MedvlSources@fordham.edu</a>, for instructions for logging onto the online data 
entry system.  We will acknowledge your contribution by adding your initials to the Cataloger field of that record.</p>

</body>
</html>


