<h3>Cataloging Instructions</h3>

<div id="instructions">

<h4>General Guidelines</h4>
<ul>
<li>
It is highly recommended that you use the <a href="(http://www.mozilla.com/firefox/">Firefox</a> web browser for data 
entry.
</li>

<li>
The OMSB website will look different depending on whether or not you are logged in.  When you are logged in:
  <ul>
  <li>there will be two lines of menu options at the top of the page instead of one; </li>
  <li>you will see links allowing you to edit and delete records and authors; </li>
  <li>when you view records, you will see more information; </li>
  <li>when you do a search, you can search more fields: as you enter data, be aware of how the public search works; </li>
  <li>Newly created records will be hidden from the public, so don.t worry about leaving incomplete or unedited
records in the database.</li>
  </ul>

<li>
On average, you should spend about 20 minutes on each record, although you will probably need more time when you 
first start off, or if the work is a genre with which you are unfamiliar.
</li>

<li>
Keep in mind that people who use the database online might know nothing about the author, text, or document type 
that you are cataloging.  Your job is to provide enough background information about the particular edition, the text, 
and its uses that users from a broad spectrum of backgrounds will be able to determine what the text is about, what kind 
of information it provides, and whether the edition is suitable for their needs.
</li>

<li>
Remember to search the online OMSB database before entering new records to ensure that you are not duplicating 
records already there.  Note too that it can be helpful to search the online database for similar records to guide you 
in entering values for such fields as Subject Headings, Record Type, and Comments.
<li>

<li>
If at all possible, try to fill in every field for each record.  Some fields may not be applicable, but most 
will be.
</li>

<li>
Use correct spelling and grammar in entries (although abbreviated phrases rather than complete sentences are 
allowed in the interests of saving space).  
</li>

<li>
There are no periods after the end of any entry, although there may be periods within the entry (such as after 
ed. or trans.).  Note that we follow Chicago Manual of Style [CManual] guidelines in terms of bibliographic entries and 
punctuation. 
</li>

<li>
Please use appropriate accent marks in foreign words.
</li>

<li>
When you need to enter multiple terms in a particular field (such as Author/Editor), separate them with a 
semi-colon followed by a space.
</li>

<li>
Fields that are searchable by users on the Search Form are marked with a *.  
</li>

<li>
Examples showing what to type in are in <span class="field">small caps</span>, but should be entered in normal font in 
the database.
</li>

<li>
For some fields in which the cataloger chooses from a menu of entries, there are now longer descriptive lists of 
each possible entry, including Medieval Author, Record Type, and Subject Headings which should be consulted for 
definitions.
</li>

<li>
In the Introduction Summary and Comments fields, you can format the text using Textile Markup:
     <table border="1">
      </td><td colspan="2">
        <b>Basic Formatting:</b>
      </td></tr>
      <tr>
        <td>You type:</td>
        <td>Looks like:</td>
      </tr><tr>
        <td>_italics_</td>
        <td><i>italics</i></td>
      </tr><tr>
        <td>*bold*</td>
        <td><b>bold</b></td>
      </tr><tr>
        <td>"Google":http://google.com</td>
        <td><a href="http://google.com">Google</a></td>
      </tr><tr>
        <td>* an item <br /> * another item <br />  * and another </td>
        <td><ul id="none"><li>an item</li><li>another item</li><li>and another</li></ul></td>
      </tr><tr>
        <td># item one <br /> # item two <br /> # item three </td>
        <td><ol style="margin-left: -1em;"><li>item one</li><li>item two</li><li>item three</li></ol></td>
      </tr><tr>
        <td colspan="2">
          <a href="http://hobix.com/textile/quick.html" target="_blank">More formatting options</a>
        </td></tr>
    </table>
</li>

</ul>

<h4>Field Descriptions</h4>

  <h5>Cataloger Information</h5>
<div id="how_myid">
  <p><b>MyID:</b> This field will only be seen by the catalogers, and is used to keep track of individuals' data.
  Number records consecutively, followed by your unique suffix.</p>
</div>

<div id="how_cataloger">
  <p><b>Cataloger Initials:</b> (Two or three) initials of person entering data.  If the cataloger has seen and
examined the source, enter initials in capital letters; otherwise enter in lower case.  If a cataloger substantially
edits a record created by another cataloger, both cataloger's initials appear, separated by a semicolon.</p>
</div>


  <h5>Publication Information</h5>
<div id="how_editor">
  <p><b>Modern Editor/Translator:</b> Surname [comma, space] forename of authors or editors as they are listed on the
title page.  If in doubt, use what is entered in the World Catalog entry.  Insert comma and ed. or trans. after name(s)
of editors or translators, but only enter editors when they have done the work of editing and translation (thus, omit
the name of the 'general editor' of a series). Separate multiple authors/editors by a semi-colon. For guidelines on
citing the names of foreign authors, see <i>CManual</i> 7.8-7.20. If the book is a reprint with a new introduction by a
different author, put the name of the new author in the Introduction Summary field, unless the new author made
significant corrections (more than a list of corrigenda, however) or added a new translation, in which case the new
author's name should also be placed here. Titles (such as S.J., POPE, OR BISHOP) are generally not entered for modern
authors, but can be noted in the Comments. Enter accents on foreign names.  If the text is also online and the web
author has made significant changes to the text (corrected transcriptions, added translations or notes) then include
his/her name in this field with a note as to her/his contribution in the Comments field. But, do not enter the name of a
web editor/compiler here unless that person has actually done the translation or edition (thus Paul Halsall should not
be entered as an editor when entering items on the <i>Internet Medieval Sourcebook</i>) unless you are citing a work he
translated himself.</p>
</div>

<div id="how_title">
  <p><b>Book/Article Title:</b> Article or chapter title (in quotation marks), or book title.  If the item is a chapter
in a book, put 'in' after the chapter title and then add the book title.
</div>

<div id="how_publication">
  <p><b>Publication Information:</b> Enter in this order and separate information in each section with a period:
    <ol>
      <li>publication series, or journal title, and volume number; for e-texts, put the name of the website or project
here i$
known;</li>
      <li>place of publication if a book (not included if the volume is published in a local or regional record
society);</li>
      <li>publisher, if a book (not needed for a record society publication);</li>
      <li>number of volumes if a multi-volume work;</li>
      <li>pages if an article or book chapter.</li>
    </ol>
  </p>
</div>

<div id="how_pub_date">
  <p><b>Publication Date:</b> Year(s) of publication.  If this is a reprint, put the reprint date in square
brackets after the original publication date, preceded by RPT. Thus, a work first published in 1899 and reprinted in
1907 would be entered as: 1899 [RPT. 1907]. If the work is a new or revised edition, that information will be entered
only in the Publication Info field.  The Publication Year field will include the original date of publication.  There
are times when an entirely new edition of a work appears; in this case, make an entirely new entry for this work. Do not
put the date an item was mounted on a web site as the date of publication unless the web translation/edition is the
first to appear anywhere.  </p>
 </div>

<div id="how_isbn">
  <p><b>ISBN:</b> If you can track down the ISBN number without a huge
hassle, enter it here.  It is usually on the page after the title page. Do not include hyphens or spaces: only include
the 10 or 13 digits of the ISBN number.  ISBN numbers are not available for older works.  Enter only one ISBN number
into the field.  On the website, the ISBN number will be used to provide a link to the book in Worldcat: correct
formatting is necessary for this link to work.</p> </div>

<div id="how_text_pages">
<p><b>Text Pages:</b> Total number of pages of primary source text (NOT the same as the pagination of an article or book
chapter).</p>
</div>

<div id="how_link">
<p><b>Hyperlink:</b> If the <i>full</i> text of the primary source is available online, put the URL here.  In general,
we
do not include short primary source extracts on the web in the OMSB. If you want to include a link to information about
the source that does not include the full text, put it in the Comments.  In the Hyperlink field, only insert a hyperlink
to the actual source, not to information about or archival holdings of the source; hyperlinks to partial translations or
to useful, further information on a source (such as when you are citing a long review from <i>The Medieval Review</i>)
can go in the Comments field. When a text is in multi-volume editions where each volume is a different URL, put the
hyperlink to the first volume in this field, and list the others in the Comments field. When users view the record, this
field will become a hyperlink, so it is important to format it correctly.  It is recommended that you test the link
when you save the record.</p>
</div>



  <h5>Original Text Information</h5>
<div id="how_text_name">
  <p><b>Text Name:</b> Name(s) by which the text is known.  Use to:
    <ol>
      <li>to name specific  government records, such as <span class="field>Inquisitions Post Mortem</span> or <span
class="field">Pipe Rolls</span>;</li>
      <li>to further distinguish a type of record, such as <span class="field">Exeter Local Customs Accounts</span> from
<span class="field">Exeter National Customs Accounts"</span>;</li>
      <li>to cite the specific name of a record (such as the <span class="field">Oak Book of Southampton</span>;</li>
      <li>to cite the specific name of a literary work, such as <span class="field">Song of Roland</span>.</li>
    </ol></p>
  <p> Names are not in quotation marks. If you enter more than one Record Name, separate them with a semi-colon.  In
many cases, this field is the same as the Title.  You may also enter alternate names or variant spellings for one work
to make it easier for users to find in a search: for example, enter both <span class="field">Song of Roland</span>
and<span class="field">Chanson de Roland</span>. If you use more than one text name in a record, separate them by a
semi-colo$
</div>

<div id="how_dates">
  <p><b>Earliest Date:</b> Enter the earliest year covered by the record.  Do not use 'c.' or any other characters.
<b>Latest
Date:</b> Enter the latest year covered by records.  Do not use 'c.' or any other characters.</p>
  <p>Both dates must be included to allow users to find records within their desired date range.  If the source being
entered is a literary, philosophic, or theological text, enter the date of composition.  If the source is a chronicle or
annal that covers many centuries, enter the dates for which the author's information is likely to be historically
accurate.  For example, for a universal chronicle that starts with creation but was written in the 8th century, use the
date of composition in the 8th century as the Latest Date, and look through the chronicle to see when information starts
being factual rather than legendary; for the universal chronicle this is likely to be sometime in the 6th century.
Sometimes information in the Introduction can help you determine when the first factual information is being entered.
In all cases, however, record your assumptions and the earliest dates the chronicle purports to cover in the Comments
field. For special problems dealing with Irish works, see <%= link_to "Irish Sources", {:controller => 'about', 
:action => 'sourceirish' } %>.
 </div>

<div id="how_trans_none">
  <p><b>Original Language Included</b>: Check box if text is printed in the original language.</p>
</div>

<div id="how_trans_english">
  <p><b>English Translation:</b> Check box if English translation is included.
</div>

<div id="how_trans_french">
  <p><b>French Translation:</b> Check box if French translation is included.
</div>

<div id="how_trans_other">
  <p><b>Other Translation:</b>  Check box if translation in another modern language is offered.  Note the language in
the translation comments.</p>
</div>

<div id="how_trans_comment">
  <p><b>Translation Comments:</b> Other information about the translation, such as whether it appears on facing page of
original text, whether translations are only offered for some of the text, or whether a translation of poetry is in
verse or prose.  Preface your comment with an explanation as, for example: <span class="field">Based on the edition
in J.P. Migne, Patrilogia Latina, Vol. XX</span>, or <span class="field">Translation based on Latin Edition in
[name the work]</span> or <span class="field">Modernized English translation.</span></p>
</div>

<div id="how_archive">
  <p><b>Archival Reference:</b> Archive, record office or library where original documents are
located; include shelf no/class/call no. if known. This information is often in the Introduction of the work, or at the
beginning of the original text.</p>
</div>

<div id="how_author">
  <p><b>Medieval Author</b>: Name of medieval author(s), if known. Author names are given when there is an identifiable
author or customary attribution of a particular text, which will include literary, philosophical, and theological texts,
as well as many chronicles and historiographical texts. However, authors are not listed for documents such as bishop's
registers, court rolls, town council minutes, notarial registers, charters, account rolls, etc. Choose from the
drop-down list.  If you type the beginning of the author's name, the list will jump to that name.  To add more authors,
click the "Add an author" link.  To find the name of a medieval author as used in the database, click the "Find Authors"
button: this will open a new browser window or tab where you can type in any part of an author's name (including
alternate spellings) to find the author.  If the name of the author is not in the database, type it into the "Addenda"
field; the name will be added to the database. If you know the author's dates, list them in the "Addenda" field as well.
</div>

<div id="how_language">
  <p>Original Language</b>: Original language of source.  Choose all applicable options from the drop-down list.  To add
more languages, click the "Add a language" link.  If you select <span class="field">other</span>, make a note of the
language in the Comments field.</p> </div>




  <h5>Region Information</h5>
<div id="how_region">
  <p><b>County/Town/Parish/Village:</b> If more than one county or region or town, separate by [semi-colon,space] (for
example: <span class="field">Norfolk; Norwich; East Anglia,</span> which refer respectively to a county, a town, and a
region). If the Introduction to a vernacular text indicates the dialect it is written in, that region may also be
entered here. For bishop's records, enter the seat of the diocese. For monastic records, enter the name of the monastery
and its specific location.  This field may often be left blank if the record covers no specific place.
</div>

<div id="how_country">
<p><b>Geopolitical Region:</b> Choose as many as are applicable from the drop-down list.  To add more regions, click the
"Add a region" link.  If the work is specific to the author's country of residence, then include that country.  Also
enter the countries covered by the document; thus an epic composed in Burgundy discussing campaigns in Spain would
include <span class="field">Spain</span> in this field and <span class="field">Burgundy</span> in the County/Region
field. If the work is written in a vernacular, include that country here (for example, enter <span
class="field">England</span> for Old English or Middle English poems and narratives).  If the work is a general
philosophic or theological work meant to appeal to the wider intellectual community, enter <span
class="field">Europe</span> here.
</div>




  <h5>Finding Aids</h5>
<div id="how_type">

<p><b>Record Type:</b> Type of record (use drop-down list). Click "Add a record type" to add additional record types.
For complete descriptions of record types, see <%= link_to "Record Types", {:controller => 'about', :action => 
'types' } %>.</p>

</div>

<div id="how_subject">

<p><b>Subject Heading:</b> You must enter one or more subject headings (See descriptions of <%= link_to "Subject 
Headings", {:controller => 'about', :action => 'subjects' } %>).  If you cannot figure out which to use, or think we need 
to add others, contact Morgan or Maryanne.  In general, the more subject headings used, the better since they allow users 
to locate texts of interest to them.  The information you place in the Comments or Introduction Summary fields should also 
reflect what you choose for the Subject Headings field.</p>

</div>




  <h5>Apparatus</h5>
<div id="how_app_index">

<p><b>Index:</b> Check if the work contains an index. Put further comments on the Index (for example, separate indices
for Personal Names and Subjects) in the Comments.</p>

</div>

<div id="how_app_glossary">

<p><b>Glossary:</b> Check if the work contains a glossary.  Put further comments (for example, the length of the
glossary in pages, whether the glossary is specialized, such as on weights and measures, or just Latin terms, or just
Gascon vocabulary, etc.).</p>

</div>

<div id="how_app_appendices">

<p><b>Appendix:</b> Check if the work contains appendices.  You will always need to list the contents and length of the
appendices in the Comments; for example: <span class="field">App. A: Chronological list of Exeter Bishops from 1100-1540
(2 pp.); App II: Translation of Charter from King Louis VIII to Burgesses of Rouen, 1182 (4 pp.),</span> etc.).  If the
text in an Appendix is different from the main text, you can add its name to the Record Name field.  If, however, the
text within an Appendix is substantial, it is best to make a new record for it.  Thus, some individual volumes or works
published under the same title may have three or more entries in order to list the entire contents of the volume. </p>

</div>

<div id="how_app_bibliography">

<p><b>Bibliography:</b> Check if the work contains a bibliography.</p>

</div>

<div id="how_app_facsimile">

<p><b>Facsimile:</b> Check if the text includes a complete (or mostly complete) facsimile of the original manuscript.
Further information may be included in the Comments.</p>

</div>

<div id="how_app_intro">

<p><b>Introduction:</b> Check if the work contains an introduction. Put details about the Introduction in Introduction
Summary field.</p>

</div>

<div id="how_comments">

<p><b>Comments:</b> This section contains information not covered by the other fields and is usually the single most
useful part of the annotation for new users who are unfamiliar with the source.  When you are writing up this section,
try to put yourself in the shoes of an undergraduate or new grad student who is not familiar with the source or with
some of the descriptive terms usually used to describe that source. The types of information you can include are:
<ol>
<li>
  Whether the printed source represents selections, abstracts, or full text;</li>
<li>
  Whether the edition is an updated, revised, or the standard edition of a text that has been published more than
once; </li>
<li>
  Specific dates and titles of individual documents if scattered over a wide range of years.  If the source
contains additional documents that comprise more than 20 pages, you should consider writing up an individual entry for
the additional document if it differs greatly in genre or subject from the other documents in the source.</li>
<li>
  Further notes on the type of source and what it covers.  It is especially important to indicate exactly what
type of information users may find in this source since it is likely that half of the users will have never heard of
this source before, and may not know what technical terms such as "clerical subsidy", or "council decrees", or even
"account roll" really mean.  Please provide short definitions or explanations for technical terms (such as "movables" or
"clerical subsidy" or "metaphysical", etc.).</li>
<li>
  You can also list particularly helpful secondary sources on this primary source, including lengthy reviews or
other guides. If you rely on an online or printed review of this work, please acknowledge your reliance by giving the
URL of the site or the bibliographic citation to the printed review.</li>
<li>
  It is crucial to give some historical context for most entries so that undergraduate users (and even grad
students) know something about the authority that generated the record, the circumstances surrounding its compilation,
the role or importance of the author in the larger textual world, and what types of information can be garnered from the
record (which will help explain why you choose the Subject headings you do).  In many instances you can develop and use
a boilerplate paragraph for particular sources or specific authors, and then simply note the distinguishing
characteristics of this particular source, or offer a two- to four-sentence summary of the author and his/her
importance.  For examples on the latter, see the entries on Chaucer.</li>
</ol>

</div>

<div id="how_intro_summary">

<p><b>Introduction Summary:</b> Enter information on the contents and range (often can be seen in the subheadings of the
Introduction) of the introduction, and its total pagination. It is also useful, if you have time, to summarize the
contents of particularly long introductions.</p>

</div>

<div id="how_notes">

<p><b>Notes:</b> This field will only be seen by the catalogers, and is intended as a space to make any annotations,
notes to self, suggestions of new items to add to into this field.</p>

</div>

<div id="how_live">

<p><b>Make Record Public:</b> This field determines what records are hidden from the public, and what records are
available for the general public who use the search function.  Once Maryanne has edited your records, check the box to
make a record available to the public.</p>

</div>

