<h3>Original Languages</h3>

<div align="center">
<table width="80%">

<tr><td valign="top">
Anglo-Norman<br />
Arabic<br />
Azestan<br />

Chinese<br />
Cornish<br />
Czech<br />
Dutch<br />
English - Anglo-Saxon / Old English<br />
English - Middle English<br />
English - Scots<br />
Ethiopian<br />
</td><td valign="top">

French - Breton<br />
French - Gascon<br />
French - Old French<br />
French - Other<br />
French - Provencal<br />
German<br />
German - Middle High German<br />
Greek<br />
Hebrew<br />

Italian<br />
Latin<br />
Manx<br />
Old Norse<br />
</td><td valign="top">
Old/Middle Irish<br />
Other<br />
Pahlavi<br />
Pazand<br />

Persian<br />
Portuguese<br />
Russian<br />
Scottish Gaelic<br />
Spanish<br />
Spanish - Catalan<br />
Spanish - Medieval<br />
Turkish<br />
Welsh <br />

</td></tr></table>


<small><p>Last Updated: September 7, 2007</p></small>


