<h2>Selection Criteria and Problems with Online Sources</h2>


<p>We are making a special effort to include primary sources on the Internet because of their 
accessibility and the fast rate at which they are being made available to the public. An amazingly 
rich variety of texts can be found online; as of August of 2007, we have entered over 1000 such 
sources. The majority of the websites cited in this database are affiliated with universities, 
libraries, or archives of one sort or another. All have been vetted by one of the compilers, and we 
plan to keep the URLs as up-to-date as possible.  A list of the major websites where we found texts 
is included in the Contents page.</p>

<p>The best online texts are transcriptions in the original language, digitized versions of the 
original manuscript, or recent translations, but many others are taken from old editions and 
somewhat archaic translations that were put on the Internet because they are out of copyright, not 
because of their quality.  Researchers should thus exercise caution when using these older texts 
and look to see if more modern editions are available, particularly if the sources are being used 
for scholarly research.  Many of these online editions also tend to omit scholarly apparatus such 
as indexes, notes, and introductions. </p>

<p>Texts available exclusively on the web are generally specially-designed electronic editions that 
take full advantage of hyperlinks, frames, roll-overs, and other internet gadgets to make the text 
interactive and provide a wealth of information to users. We have listed the features of these 
websites in the Comments field. When a website, however, provides an exact electronic version of a 
published book, we have entered the publication information for that book into the database.  When 
a website has an electronic version of a book with minor changes (such as corrected errors or a few 
spelling modernizations), we have entered the publication information of the book, but have 
included the website editor in the Author/Editors field.  When a website is based on a massive 
re-editing of a published book, such as compiling different translations/transcriptions, we have 
not included the book.s publication information, but have catalogued it solely as an online 
publication.  </p>

<p>For guidelines on how to cite online texts, see one of the following: the Chicago Manual of 
Style, 15th ed. (Chicago: University of Chicago Press, 2003); Joseph Gibaldi, MLA Handbook for 
Writers of Research Papers (1999). Also recommended is Andrew Harnack and Eugene Kleppinger, <a 
href="http://www.bedfordstmartins.com/online/citex.html">Online! A Reference Guide to Using 
Internet Sources</a> (Bedford/St Martin.s, 2000). </p>

<p>--Morgan Kay, August 2007</p>

