<h2>Selection Criteria and Problems with Irish Sources</h2>

<p>The types of published primary sources available for the study of medieval Ireland has been shaped by both 
destruction of the Irish Public Records Office during shelling in 1921 and the changing priorities of scholars of 
Ireland over the 19th and 20th centuries. <p>

<p>Before Irish independence, some Irish documents were included in the major British document series, such as the 
Camden Society texts, the Rolls Series, and the calendars published by the Public Record Office.  Since independence, 
the Irish Manuscripts Commission, often in conjunction with the Dublin Institute for Advanced Studies, has continued the 
work of publishing Irish documents. The <b>Mediaeval and Modern Irish Series</b>, begun by the Irish Stationery Office 
in the 1930s and continued by the Irish Manuscript Commission and Dublin Institute for Advanced Studies, contains dozens 
of medieval volumes of medieval Irish texts, few of which have been translated into English; about 10 of the c. 25 
medieval texts in the series have been entered. The <b>Scriptores Latini Hiberniae</b> series currently contains 14 
volumes (10 of which are entered into the database thus far) of Latin texts written by early medieval Irish authors, 
with English translations. The <b>Early Irish Law</b> series, begun in 1983, currently contains 4 volumes focusing on 
Old Irish law tracts with English translations; two are in the database. Periodicals which regularly publish primary 
sources related to medieval Ireland include the <b><i>Transactions/Proceedings of the Royal Society of Antiquaries of 
Ireland; Collectanea Hibernica;</i></b> and <b><i>Analecta Hibernica</b></i>. Local record societies and antiquary 
societies, cultural organizations, and religious societies have also published medieval source materials from Ireland. 
We, have, however, only begun to enter primary sources printed in these series into the database.</p>

<p>The Irish entries in the database are focused on Latin-language or translated sources, although there are a 
significant number of Irish Language sources as well. We have tried to enter first those items which are most easily 
available: for example, texts published in popular series or available online through <a 
href="http://www.ucc.ie/celt/">CELT, the Corpus of Electronic Texts at University College, Cork</a>; 25 of the over 100 
medieval texts included there (many of them in Old Irish) are entered into the database Bibliography.</p>

<h3>Source Types</h3>

<p>In Phase I of the project, the Irish sources entered into the database are heavily weighted towards annals and 
translated earlier Irish language literary sources, saints lives, and treatises; a selection of the most widely 
available later high medieval, Latin sources are also included (i.e. those published by major text societies or part of 
collections such as the Rolls Series).  To a great extent, the availability of the texts in most college libraries has 
dictated which were selected for entry into the database Bibliography. </p>

<p><b>Annals</b> remain one of the most valuable sources for Irish history; written in Latin and/or Irish by monks, 
these annals often cover political, military, and natural events in Ireland over centuries. Most annals that currently 
exist are later medieval or early modern compilations of earlier documents, some as early as the 8th century. Irish 
monks were also famous for their Latin <b>theological, philosophical, and natural science treatises</b>; many treatises 
from the 8th through 10th centuries have survived and been published, as have many Latin and Irish <b>poems</b> and 
<b>saintsÂ. lives</b> from the same period and milieu. Irish monks also recorded and adapted <b>Irish secular legal 
traditions</b> and <b>mythological and folk literature</b>, such as the Ulster cycle. The arrival of 
Anglo-Norman/English settlers, administrators, and institutions in the late 12th century produced new types of 
documents. Ecclesiastical documents from this period include some <b>bishopsÂ. registers</b>, which consist primarily of 
letters, and <b>monastic registers</b>, which contain items such as <b>obits</b> which record deaths of patrons of a 
monastery or cathedral, <b>wills, charters and acts</b> pertaining to the monasteryÂ.s property, and other miscellaneous 
documents.  <b>Royal and parliamentary documents</b> provide information on the laws, courts, tax collection, financial 
outlays, and military organization of Ireland.  Finally, in the later medieval period, cross-cultural influence and 
changing conditions prompted Gaelic and Anglo-Irish lords and merchants to patronize Irish-language <b>bardic 
poetry</b>, to commission <b>genealogies</b>, and to sponsor translations of theological, medical, and literary 
documents into Irish. For people who read Irish, these translations are an opportunity to learn specialized Irish 
vocabulary or to interrogate the types of changes made in the process of translation. </p>


<h3>Search Tips for Finding Irish Sources</h3>

<p>All Irish texts list Ireland as their location, and very few have a secondary, regional location designated. Since 
there are relatively few Irish sources compared to the number available for England, France, and other medieval 
countries, and since many sources cover a wide geographic area, itÂ.s best to do a location search for Â.IrelandÂ. and 
narrow down texts from there. </p>

<p>--J. Gundacker, October, 2004</p>
