<h2>Selection Criteria and Problems with French Sources</h2>

<p>Because the number of primary sources available in modern French translations or in editions of 
some variant of medieval French is immense, we have concentrated on entering texts most likely to 
be available in college libraries in Phase I of the project.  We have also prioritized the more 
well-known sources in terms of how often they are cited and the quality of their transcription or 
translation.  </p>

<p>In selecting English translations of French sources, we have tried to include a wide variety of 
genres, but those that are most common in Phase I of the project tend to deal with religious life, 
saints, the Carolingians, philosophy, theology, and literature, and thus work to give the student a 
general understanding of cultural, intellectual and religious developments in France during the 
middle ages.  In selecting French language sources, we focused more on the sources for 
administrative, legal, economic, and social history, such as royal ordinances, taxes, cartularies, 
inventories, and collections of synodal statutes, few of which have been translated into English.  
</p>

<p>Many of the French language entries are from the series, <i>Collection de documents inedits sur 
l.histoire de France</i>, although we have not yet completed entering all the relevant sources in 
this series. For a list of other series that include medieval French sources, see the <a 
href="sources.html">Contents</a> page.  For tips on finding sources about France in the database, 
see Search Tips. </p>

<p>--Chris Beck, August 2004</p>

