<h3>Subject Headings</h3>


<p>Below is a complete list of the subject headings in the database, as
well as a description of what types of documents and information can be
found under each subject heading.  Items with a dark background are not in
the subject heading list of the database, but are topics that you might
want to search for: the right column explains how to find items that would
be under these subject headings by using other fields.</p>


<div id=container>

<div id=not> <div id=title>Abbeys</div> 
<div id=description>Select <span class=field>Subject Heading</span>: <i>Monasticism</i> or <i>Clergy-Monks, Nuns, 
Friars</i> or <span class=field>Record Type</span>: <i>Monastic Rule</i> or <i>Cartulary</i></div> </div>

<div id=title>Agriculture</div>
<div id=description>Agricultural treatises, manorial accounts, herbaria, and documents relating to farming 
techniques, irrigation, gardens, and animal husbandry</div>

<div id=not> <div id=title>Anglo-Saxons</div> 
<div id=description>Select <span class=field>Date</span>:<i> 500 - 1100</i> and <span class=field>Geopolitcal 
Region:</span><i>England</i></div> </div>

<div id=not><div id=title>Animal Husbandry</div>
<div id=description>Select <span class=field>Subject Heading</span>: <i>Agriculture</i></div> </div>

<div id=title>Architecture and Buildings</div>
<div id=description>Building accounts for cathedrals, churches, palaces; descriptions of buildings andbuilding 
techniques<br><br></div>

<div id=title>Art</div>
<div id=description>Lives of artists, treatises on iconography, manuals on artistic techniques, illuminated 
manuscripts </div>

<div id=title>Asiatic Nomads: Huns, Mongols, etc.</div>
<div id=description>Anything related to Asiatic nomads<br><br></div>

<div id=not><div id=title>Barbarians</div>
<div id=description>Select <span class=field>Subject Heading</span>: <i>Early Germanic Peoples</i> or 
<i>Vikings</i> or <i>Asiatic Nomads</i></div>
</div>

<div id=not><div id=title>Black Death</div>
<div id=description>Select <span class=field>Subject Heading</span>: <i>Plague and Disease</i> and <span 
class=field>Date</span>: <i>after 1347</i></div> </div>

<div id=title>Byzantium</div>
<div id=description>Anything related to the Byzantine Empire</div>

<div id=title>Carolingians</div>
<div id=description>Anything related to Charlemagne and his period (including whole dynasty), Charlemagne 
romances</div>

<div id=not>
<div id=title>Castles</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Architecture and Buildings</i> or <i>War - Military History</i></div>
</div>

<div id=not>
<div id=title>Catharism</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Heresy</i> or <span class=field>Record Type</span>:
<i>Inquisition</i></div>
</div>

<div id=not>
<div id=title>Celts</div>
<div id=description>Select <span class=field>Geopolitical Region</span>:
<i>British Isles</i></div>
</div>

<div id=not>
<div id=title>Chronicles</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Historiography</i> or <span class=field>Record Type</span>:
<i>Chronicles, Annals</i></div>
</div>

<div id=not> <div id=title>Church</div> 
<div id=description>Select <span class=field>Subject Heading</span>: 
<i>Clergy - Monks, Nuns, Friars</i> or <i>Clergy - Priests, Bishops, 
Canons</i> or <i>Religion - Institutional Church</i> or <i>Piety</i> 
</div>
</div>

<div id=title>Church Fathers</div>
<div id=description>Writings by or about Greek and Latin Fathers (up to and including Gregory the Great)</div>

<div id=title>Classics / Humanism</div>
<div id=description>Late medieval humanistic texts or writings about
Classical authors/texts; late medieval texts following Classical models;
compilations of Classical literature</div>

<div id=title>Clergy - Anticlericalism</div>
<div id=description>Documents and literature criticizing, satirizing, or
condemning the clergy, calling for clerical reform, opposing the power or
morality of the clergy or the Church</div>

<div id=title>Clergy - Monks, Nuns, Friars</div>
<div id=description>Monastic rules, necrologies, monastic
chronicles, visitations, charters and cartularies, texts by or about monks
and nuns</div>

<div id=title>Clergy - Priests, Bishops, Canons</div>
<div id=description>Texts by or about parish priests, bishops,
canons<br><br>'</div>

<div id=not>
<div id=title>Clothing</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Material Culture: Food, Clothing, Household</i></div>
</div>

<div id=title>Conversion</div>
<div id=description>Documents about the conversion of barbarians,
Jews, or Muslims; missionary activity; sermons and theological works
discussing the importance of conversion</div>

<div id=not>
<div id=title>Courtly Love</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Literature - Epics, Romance</i> or <i>War - Chivalry</i></div>
</div>

<div id=not>
<div id=title>Crafts</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Material Culture: Food, Clothing, Household</i> or
<i>Economy - Crafts / Industry</i></div>
</div>

<div id=title>Crusades</div>
<div id=description>Crusading chronicles, records of Crusader States,
preaching on Crusades, treatises on Crusades, documents about military
orders</div>

<div id=title>Diplomacy</div>
<div id=description>Treaties, diplomatic correspondence, diplomats'
memoirs</div>

<div id=not>
<div id=title>Drama</div>
<div id=description>Select <span class=field>Record Type</span>:
<i>Literature - Drama</i> or <span class=field>Subject
Heading</span> <i>Literature - Drama</i></div>
</div>

<div id=title>Early Germanic Peoples: Goths, Franks</div>
<div id=description>Anything relating to early Germanic
peoples<br><br></div>

<div id=title>Economy - Crafts / Industry</div>
<div id=description>Includes all records regarding production and
processing of raw materials (such as tin, silver, timber, hides) and their
transformation into finished goods (such as pewter, houses, shoes)</div>

<div id=title>Economy - Guilds / Labor</div>
<div id=description>Documents about craft or merchant guilds as
organizations, or documents specifically about work or wages.  Includes
sources on peasant labor too (such as court disputes on the Statute of
Laborers in England) </div>

<div id=title>Economy - Trade</div>
<div id=description>Customs accounts, notarial records; fair records, market
accounts</div>

<div id=title>Education / Universities</div>
<div id=description>University records, accounts for schooling,
educational treatises, documents about cathedral schools or
parish/village/town schools, descriptions of student life, documents
relating to the history of universities</div>

<div id=title>Family / Children</div>
<div id=description>Letters (Pastons); personal memoirs (<i>ricordi</i>);
family chronicles; genealogies, wills</div>

<div id=not>
<div id=title>Farms / Farming</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Agriculture</i></div>
</div>

<div id=not>
<div id=title>Fashion</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Material Culture: Food, Clothing, Household</i></div>
</div>

<div id=not>
<div id=title>Feudalism</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Peasants</i> or <i>Nobility/Gentry</i> or <i>War - Military History</i></div>
</div>

<div id=not>
<div id=title>Food</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Material Culture: Food, Clothing, Household</i></div>
</div>

<div id=not>
<div id=title>Franks</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Early Germanic Peoples: Goths, Franks</i></div>
</div>

<div id=not>
<div id=title>Goths</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Early Germanic Peoples: Goths, Franks</i></div>
</div>

<div id=title>Government</div>
<div id=description>Administrative records for villages, towns, nations,
etc., including parliamentary proceedings and tax records</div>

<div id="title">Grammar / Rhetoric</div>
<div id="description">Treatises and allegorical works about grammar.</div>

<div id=not>
<div id=title>Guilds</div>
<div id=description>Select <span class=field>Subject Heading</span>: <i>Economy
- Guilds / Labor</i></div>
</div>

<div id=not>
<div id=title>Hagiography</div>
<div id=description>Select <span class=field>Record Type</span>:<i>Hagiography</i></div>
</div>

<div id=not>
<div id=title>Heraldry</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>War - Military History</i> or <i>Family/Children</i></div>
</div>

<div id=title>Heresy</div>
<div id=description>Documents relating to the Inquisition, trials for
heresy, sermons and treatises about heresy, documents that define
heretical ideas or define orthodox ideas specifically to counter heretical
ideas; documents by or about people accused of heresy; includes Lollards,
Cathars, Waldensians, etc.</div>

<div id=title>Historiography</div>
<div id=description>Chronicles, annals, memoirs, and any other historical
writing</div>

<div id=not>
<div id=title>Hundred Years War</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>War - Military History</i> and <span class=field>Date</span>:
<i>1300-1450</i> and <span class=field>Geopolitical Region</span>:
<i>England</i> or
<i>France</i></div>
</div>

<div id=not>
<div id=title>Huns</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Asiatic Nomads: Huns, Mongols, etc.</i></div>
</div>

<div id=not>
<div id=title>Iconography</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Art</i></div>
</div>

<div id=not>
<div id=title>Inquisition</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Heresy</i> or <span class=field>Record Type</span>:
<i>Inquisition</i></div>
</div>

<div id=title>Jews / Judaism</div>
<div id=description>Anything by or about Jews and Judaism</div>

<div id=title>Law - Canon</div>
<div id=description>Church courts; synods and councils; church
legislation (canons); theoretical works on canon law</div>

<div id=title>Law - Crime</div>
<div id=description>Court records, felonies, assault, theft</div>

<div id=title>Law - Secular</div>
<div id=description>Civil law: debt, minor trespasses, inheritance,
contracts</div>

<div id=title>Literature - Arthurian</div>
<div id=description>Any literature and documents, including
historiographical texts, relating to King Arthur or people associated with
his legend (such as Merlin)</div>

<div id=title>Literature - Comedy / Satire</div>
<div id=description>Literature written with a humorous intent; literature
that ridicules its subject with the intent of provoking
change<br><br></div>

<div id=title>Literature - Devotional</div>
<div id=description>Devotional texts; Marian lyrics, plays,
revelations, sermons</div>

<div id=title>Literature - Drama</div>
<div id=description>Texts of plays, household accounts for dramatic
productions, descriptions of dramatic productions</div>

<div id=title>Literature - Epics, Romance</div>
<div id=description>Romances, courtly love literature, epics<br><br></div>

<div id=title>Literature - Folklore, Legends</div>
<div id=description>Fairy tales; myths; paganism<br><br></div>

<div id=title>Literature - Other</div>
<div id=description>All other literature</div>

<div id=not>
<div id=title>Lollardy</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Heresy</i></div>
</div>

<div id=title>Magic / Witchcraft</div>
<div id=description>Treatises about magic, trials of witches</div>

<div id=not>
<div id=title>Manors</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Agriculture</i> or <i>Nobility / Gentry</i></div>
</div>

<div id=not>
<div id=title>Manuscripts</div>
<div id=description>Select <span class=field>Facsimile</span> or <span
class=field>Subject Heading</span>: <i>Art</i></div>
</div>

<div id=title>Maritime</div>
<div id=description>Sea laws; admiralty courts; overseas or coastal
accounts; naval battles</div>

<div id=not>
<div id=title>Markets</div>
<div id=description>Select <spanclass=field>Subject Heading</span>:
<i>Economy - Trade</i></div>
</div>

<div id=not>
<div id=title>Marriage</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Family / Children</i> or <i>Women / Gender</i></div>
</div>

<div id=title>Material Culture: Food, Clothing, Household</div>
<div id=description>Documents relating to food, clothing, and other
material possessions, such as inventories, sumptuary laws, banquets,
wills</div>

<div id=title>Medicine</div>
<div id=description>Medical treatises, accounts of medical
procedures, medical theories, treatment of plague</div>

<div id=not>
<div id=title>Merchants</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Economy - Trade</i> or <i>Economy - Guilds / Labor</i></div>
</div>

<div id=not>
<div id=title>Middle Class</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Economy - Trade</i> or <i>Nobility / Gentry</i></div>
</div>

<div id=title>Military Orders</div>
<div id=description>Anything relating to or discussing military orders such as Knights Templar, 
Hospitallers, or Teutonic knights.</div>

<div id=title>Monasticism</div>
<div id=description>Documents relating more to monastic life, monastic
reform, the administration of monasteries, or the history of a
particular monastery or monastic order, than to individual monks,
nuns, or friars</div>

<div id=not>
<div id=title>Mongols</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Asiatic Nomads: Huns, Mongols, etc.</i></div>
</div>

<div id=title>Music</div>
<div id=description>Musical manuscripts, treatises about music,
liturgical music</div>

<div id=title>Muslims / Islam</div>
<div id=description>Anything by or about Muslims or Islam</div>

<div id=title>Nobility / Gentry</div>
<div id=description>Letters, family chronicles, seigniorial estates, feudal
records by or about the noble or upper middle classes</div>

<div id=not>
<div id=title>Norman Conquest</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>War - Military History</i> or <span
class=field>Geopolitical Region</span>: <i>England</i> and <span
class=field>Dates</span>: <i>1066-1250</i></div>
</div>

<div id=not>
<div id=title>Pagans / Paganism</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Heresy</i> or <i>Conversion</i> or <i>Early Germanic
Peoples</i> or <i>Asiatic Nomads</i> or <i>Literature: Folklore,
Legends</i></div>
</div>

<div id=title>Papacy</div>
<div id=description>Records about or by popes and papal institutions</div>

<div id=not>
<div id=title>Papal Schism / Avignon Papacy</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Papacy</i> and <span class=field>Dates</span>: <i>1378 -
1417</i><br><br></div>
</div>

<div id=title>Peasants</div>
<div id=description>Manorial and estate court rolls, account rolls, extents
and surveys, literature about peasants, descriptions of peasant
uprisings</div>

<div id=title>Philosophy/Theology</div>
<div id=description>Writings by philosophers and theologians</div>

<div id="title">Philosophy - Aristotlelian</div>
<div id="description">Texts exploring and expounding Aristotlelian themes and attempting to reconcile 
Aristotelian philosophy with the Christian faith or more Platonic philosophical thought</div>

<div id="title">Philosophy - Ethics / Moral Theology</div>
<div id="description">Documents discussing how people should behave, what is sinful, and other aspects of 
ethics</div>

<div id="title">Philosophy - Logic</div>
<div id="description">Texts, usually philosophic, that discuss logic</div>

<div id="title">Philosophy - Metaphysics</div>
<div id="description">Texts focusing on metaphysical topics such as being itself, informed being, substance, 
form, existence, etc.</div>

<div id="title">Philosophy - Platonic/ Neo-Platonic</div>
<div id="description">Texts which follow, discuss or expand Platonic and neo-Plantonic themes, such as realist 
forms, pre-existence of the soul, memory, etc.</div>

<div id="title">Philosophy - Political</div>
<div id="description">Texts which discuss secular power, forms of government, and political philosophy, such as 
Dante's <i>Monarchy</i></div>

<div id=title>Piety</div>
<div id=description>Documents generated out of pious intents,
describing piety, or helping people live a pious life, such as
liturgy, sermons, books of hours, etc.</div>

<div id="title">Piety - Confession / Penance</div>
<div id="description">Confessional manuals, theological works discussing the value of penance, literary and
historical works that describe people doing penance, etc.</div>

<div id=title>Piety - Lay</div>
<div id=description>Confraternity records, devotional tracts, religious
guild records, play cycles, and other documents that demonstrate or relate
to the piety of laypeople</div>

<div id=title>Piety - Mysticism </div>
<div id=description>Writings by or about specific mystics, descriptions of
mystical visions, treatises about mystical experiences</div>

<div id=title>Plague and Disease</div>
<div id=description>Black Death or other plagues, descriptions of
diseases and the results of diseases, documents about treating or
containing diseases</div>

<div id=title>Political Thought </div>
<div id=description>Treatises about how governments should function,
mirrors for princes</div>

<div id=title>Poverty / Charity</div>
<div id=description>Sermons and theological works about poverty, anything
dealing with monastic poverty, wills with charitable donations, account
rolls with charitable donations, court records dealing with beggars and
vagrants</div>

<div id=not>
<div id=title>Reconquista</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>War - Military History</i> or <i>Muslims / Islam</i> and
<span class=field>Geopolitical Region</span>: <i>Spain</i></div>
</div>

<div id=title>Recreation</div>
<div id=description>Records dealing with games, tournaments, descriptions
of recreational activities, building accounts for recreational
spaces</div>

<div id=title>Reform</div>
<div id=description>Complaint literature and other calls for reform of
the Church,  secular government, or other institutions and ways of
life</div>

<div id=title>Religion - Institutional Church</div>
<div id=description>Documents and literature about the
Church, documents relating to Church administration<br><br></div>

<div id=title>Revolt</div>
<div id=description>Descriptions of revolts</div>

<div id=title>Royalty / Monarchs</div>
<div id=description>Royal chronicles, letters, memoirs; biographies;
literature about kings and monarchs</div>

<div id=title>Saints</div>
<div id=description>Hagiography, miracle stories, anything else relating
to saints</div>

<div id=title>Saints - Cult / Relics</div>
<div id=description>Documents relating to saints. cults, such as
descriptions of festivities on saints. days, pilgrimages to shrines, sales
of relics, and other manifestations of devotion to saints</div>

<div id=title>Science/Technology</div>
<div id=description>Treatises on astronomy, military technology,
etc.</div>

<div id="title">Science - Astronomy</div>
<div id="description">Treatises on astronomy</div>

<div id="title">Science - Mathematics</div>
<div id="description">Treatises and texts on mathematics</div>

<div id=not>
<div id=title>Taxes</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Government</i></div>
</div>

<div id=not>
<div id=title>Templars</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Crusades</i> or <i>War - Military History</i></div>
</div>

<div id="title">Theology - Christology</div>
<div id="description">Texts that focus on person of Christ, the Incarnation, etc.</div>

<div id="title">Theology - Ecclesiology</div>
<div id="description">Texts which focus on the Church itself, its mission, structure, importance, authority</div>

<div id="title">Theology - Eschatology</div>
<div id="description">Texts which focus on the Eschaton, Last Judgement, Wedding Feast of the Lamb, 
Eternity</div>

<div id="title">Theology - Heretical</div>
<div id="description">Texts which promote heretical notions, speculations, or declaration (not texts about 
heretics or inquisitions)</div>

<div id="title">Theology - History</div>
<div id="description">Texts which investigate history from point of view of soteriology; universal histories 
focused on salvation history; theological speculations on history (such as in Bonaventure.s Brevoloquium), 
heptamerons</div>

<div id="title">Theology - Mariology</div>
<div id="description">Texts discussing the Immaculate Conception, or the life, importance, deeds, intercession, 
purity and/or role of Mary.</div>

<div id="title">Theology - Moral/Ethics</div>
<div id="description">Theological works that focus on moral issues or ethical dilemmas, including questions about 
vice and virtue, sin, and sexuality.</div>

<div id="title">Theology - Sacramental</div>
<div id="description">Texts listing and explaining the sacraments, including disputations on sacraments, or 
discussions of sacramental theology</div>

<div id="title">Theology - Scriptural Exegesis</div>
<div id="description">Texts which deal with scriptures, either guides to scriptural interpretation, the fourfold 
senses of Scripture, or scriptural commentary</div>

<div id="title">Theology - Trinitarian</div>
<div id="description">Texts explaining and discussing the Trinity, its quality as a Mystery, the three persons 
and/or their relationships</div>

<div id=title>Towns / Cities</div>
<div id=description>Borough/town records and other documents relating to
town life or administration, descriptions of events in towns such as plays
and processions, descriptions of towns or cities, histories of particular
towns or cities</div>

<div id=title>Travel / Pilgrimage</div>
<div id=description>Exploration; travel accounts (including fiction);
pilgrimage accounts</div>

<div id=title>Vikings   </div>
<div id=description>Anything relating to Vikings, Viking raids</div>

<div id=not>
<div id=title>Visigoths </div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Early Germanic Peoples: Goths, Franks</i></div>
</div>

<div id=not>
<div id=title>Waldensianism</div>
<div id=description>Select <span class=field>Subject Heading</span>:
<i>Heresy</i>or <span class=field>Record Type</span>: <i>Inquisition</i></div>
</div>

<div id=title>War - Chivalry</div>
<div id=description>Chivalric romances, knightly codes of conduct, rules
for chivalric orders</div>

<div id=title>War - Military History</div>
<div id=description>Documents about castles, battles, sieges, raids,
military indentures, military orders, armor, knights as fighters,
chronicles specifically about wars, such as that by Froissart or the
crusade chronicles</div>

<div id=title>Women / Gender</div>
<div id=description>documents by or about women, works on women rulers,
nuns (monastic rules), female saints lives, works about gender roles</div>

</div>



<small><p>Last Updated: September 24, 2008</p></small>

