<h3>Search Tips: Geopolitical Region</h3>

<p>We have included both modern and medieval country names as much as
possible, so that users will be able to find records under both.
We have also included wider regions for areas where country
boundaries changed frequently, such as Scandinavia and the Iberian
peninsual.  However,
if you are having trouble finding records, try broadening the geopolitical
region.</p>

