<h3>Search Tips: Dates</h3>

<p>For some types of medieval document, determining the dates covered by the record can be difficult.  If the source is a 
literary, philosophic, or theological text, the date of composition is in the database.  If the source is a chronicle or 
annal that covers many centuries, the database records dates for which the author.s information is likely to be 
historically accurate.  For example, for a universal chronicle that starts with creation but was written in the 8th 
century, catalogers have looked through the chronicle to see when information starts being factual rather than legendary; 
for a universal chronicle of the 8th century this is likely to be sometime in the 6th century.  Further information about 
the dating of a record will be found in the <span class=field>Comments</span> field. </p>

