<h3>Record Type</h3>


<div id="container">

<div id="title">Account Roll</div>
<div id="description">Document that records revenues and/or expenses.
Includes accounts not specified under the specific Account Roll
headings.</div>

<div id="title">Account Roll - Bailiff/Reeve</div>
<div id="description">Document that records payments made under the
bailiff's or reeve's (a local peasant chosen or elected to supervise the
agricultural work on the manor) authority in a manor or agricultural
settlement. </div>

<div id="title">Account Roll - Building</div>
<div id="description">Document that records expenses incurred in
construction of a building, particularly castles, town walls, churches,
and ships. </div>

<div id="title">Account Roll - Estate</div>
<div id="description">
Document that records the revenues and expenses of a manorial estate as a
whole (rather than just one part of the estate, such as a reeve's account
roll).  It usually includes the reeve's accounts from individual manors,
or other properties (such as fishponds, mines, forests, markets, and
fairs) owned by a lord.</div>

<div id="title">Account Roll - Household</div>
<div id="description">Document that records the expenses of a household.
Includes large royal, seigneurial, and ecclesiastical (monastic,
Episcopal) households, as well as accounts imbedded in <i>ricordi</i>
(Memoirs).</div>

<div id="title">Account Roll - Obedientiary</div>
<div id="description">Accounts produced by a monastic officer (such as the cellarer, sacristan, abbot, etc.) that 
details the revenues coming into his department (often from manors, in which case also add Account . 
Bailiff/Reeve or Account . Estate) and, more importantly, the expenses of this officer.</div>

<div id="title">Account Roll - Port Customs</div>
<div id="description">An account of port customs or tolls paid to the king,
lord, or port town listing the names of ships and their cargoes. <br 
/><br /></div>

<div id="title">Biography</div>
<div id="description">A narrative document describing the life of 
someone other than the author.  Does not include hagiography.<br
/><br /></div>

<div id="title">Cartulary</div>
<div id="description">A collection of charters which register the
acquisitions of a lord, monastery, or other institution, record successful
lawsuits, and otherwise document the institution's rights to its
properties.</div>

<div id="title">Charters, Deeds</div>
<div id="description">Documents recording grants and purchases, usually of
land, but sometimes of other property or rights.</div>

<div id="title">Chronicle, Annals </div>
<div id="description">Both of these are works of history.  Annals are
arranged by year, and comprise lists of events during each year.
Chronicles have a more narrative form.  Sometimes, medieval historical
works are more literary than factual, but if a work claims to be history,
it is put in this category.</div>

<div id="title">Commentary / Gloss / Exegesis</div>
<div id="description">A medieval text that provides commentary, glosses, or annotations on another text;
works discussing and expounding upon the meaning of specific biblical passages or books.</div>

<div id="title">Contract</div>
<div id="description">A binding agreement between two or more people or
entities, including contracts for construction, dowry, loans,
apprenticeship, etc.  Includes contracts in notarial registers.</div>

<div id="title">Coroner's Roll</div>
<div id="description">Records kept by a coroner about the deceased, the
cause of an individual's death, and any information witnesses of the death
could provide, including suspected murder and accidental deaths.</div>

<div id="title">Councils - Church</div>
<div id="description">Proceedings of a formal assembly of clergy; can include their discussions, legislation, and 
inquisitions, although these separate types of records, if present in sufficient numbers, should also be included 
in Record Type if this option is chosen.</div>

<div id="title">Councils - Secular</div>
<div id="description">Proceedings of a formal assembly of laity called together by a secular authority; can 
include their discussions, legislation, and inquisitions, as well as petitions to their assembly, although these 
separate types of records, if present in sufficient numbers, should also be included in Record Type if this 
option is chosen.</div>

<div id="title">Court Roll</div>
<div id="description">Records of court proceedings, usually recorded by a
clerk during court sessions. Includes government officials' investigations
of wrongdoing.</div>

<div id="title">Court Roll - Ecclesiastical</div>
<div id="description">Charges, depositions, and other records of litigation
in church courts governed by canon law (including marriage litigation,
defamation, clerical disputes, tithes, and even debt).<br /><br /></div>

<div id="title">Court Roll - Eyre</div>
<div id="description">Court rolls from eyre courts, which were royal
itinerant courts in pre-plague England.</div>

<div id="title">Court Roll - Gaol Delivery</div>
<div id="description">Court rolls recording indictments and trials of felons
in medieval England.<br><br></div>

<div id="title">Court Roll - Sessions of the Peace</div>
<div id="description">Court rolls from courts presided over by justices of
the peace in England, who adjudicated minor assaults and thefts,
trespasses, breaches of statute legislation (such as labor laws), and many
other cases.  The scope of their jurisdiction grew to include felonies and
more major crimes by the very end of the middle ages.</div>

<div id="title">Custumal </div>
<div id="description">A document which records "how things have always been
done."  Custom was often the basis for medieval laws and systems of
government, but as people saw a need for laws to be codified, they wrote
custumals to record what the laws have previously been in a village or
town.  Often includes information on inheritance, procedures for choosing
officials, bylaws on managing local agriculture, and services or taxes due
to the lord.  Most often used for manors, villages, and towns, but
there are also regional examples, such as the <i>Sachenspiegal</i>.</div>

<div id="title">Dialogue</div>
<div id="description">A classical genre used by many authors as an instructional technique, usually involving 
questions and answers between a pupil and teacher, but sometimes between two people on opposing sides of an 
issue. If the dialogue is philosophical in nature, then also add Philosophic Work as a Record Type.</div>

<div id="title">Disputation - Philosophical/Theologicale</div>
<div id="description">Texts written in format of an oral scholastic disputation (using the dialectical method of 
opposing arguments) on particular philosophical or theological questions which are furnished by participants, and 
where the master must come to a doctrinal solution by an act of determination which confirms him in his function 
as master.  Can include quodlibetal questions (quodlibet = any whatever) which were brought forward by students 
rather than masters and often reflect contemporary controversies.</div>

<div id="title">Extents and Surveys </div>
<div id="description">Surveys of tenements, field, and other properties and
rights, including ponds, rivers, woods, and markets owned by a lord or
estate.  Often have custumals attached.</div>

<div id="title">Formulary</div>
<div id="description">Collection of sample documents (charters, letters, contracts, account rolls) meant to serve 
as a model for clerks.  If the collection is largely made up of one type of document (e.g., letters), enter that 
Record Type as well.</div>

<div id="title">Genealogy </div>
<div id="description">Records of people's ancestry and lineage.</div>

<div id="title">Glossary/Dictionary</div>
<div id="description">Word list or translations/explanations of words into different languages, composed in the 
middle ages.</div>

<div id="title">Guild Records</div>
<div id="description">Any type of record generated by or about a formal trade or merchant guild, including their 
membership lists, charters, ordinances, court proceedings, and dealings with other guilds.  Does not include 
parish guilds or confraternities.</div>

<div id="title">Hagiography</div>
<div id="description">Includes several different types of sources, but
primarily narratives about the life of holy men and women written to
celebrate their devout life, ascetic practices, good deeds, and
miracles. Can be composed after someone was declared a saint, or to
help the canonization process along.  Includes martyrologies,
miracle stories, canonization proceedings (which can include
depositions from people who witnessed the divine intervention of the
person up for sainthood), descriptions of relics of or monuments to
particular saints, accounts of pilgrimages to holy sites (if the
focus is on the religious aspects of the pilgrimage), and devotional
tales about the intercession of the Virgin Mary.</div>

<div id="title">Inquisition - Heresy</div>
<div id="description">Records of inquisition trials (including depositions
from witnesses and accused person), in which a religious authority tries
people for heresy (when <span class=field>Record Type</span>: <i>Courts -
Ecclesiastical</i> is also used), and other inquisitorial records,
including handbooks for inquisitors (when <span class=field>Record
Type</span>: <i>Theology - Instructional</i> is also used) and
descriptions of heresy and witchcraft.</div>

<div id="title">Inscription</div>
<div id="description">Anything written or engraved on a surface other than
paper/parchment, such as a coin, medal, monuments, rock, seals, tree,
tombstone, furniture, etc.  Usually quite brief.</div>

<div id="title">Inventory</div>
<div id="description">A list of items in a place, such as a house or
monastery, or owned by an individual taken at a person's death, or because
of forfeiture.  Includes clothing, furniture, tools, and other
possessions.</div>

<div id="title">Law - Canon Law</div>
<div id="description">Includes church legislation promulgated in synods or
councils, large compilations of church law (such as Gratian), and any
legal process (petitions, depositions, church courts) that is adjudicated
by church law.</div>

<div id="title">Law - Legislation</div>
<div id="description">Laws promulgated by a king or state as statute
legislation, royal charter, or letters patent, or issued under the
authority of a monarch, duke, or count, by himself or with the advice of
his council. Includes early law codes.</div>

<div id="title">Law - Local Ordinances</div>
<div id="description">Regulations, by-laws, and ordinances issued by a local
authority such as towns and villages.  Can sometimes be embedded in other
records, such as Court Rolls or Custumals.</div>

<div id="title">Law - Treatise/Commentary</div>
<div id="description">Learned discussions of points of law, interpretations of legislation, such as Bracton, 
Glanvill and others.</div>

<div id="title">Letter</div>
<div id="description">Correspondence written from one person to another,
although the category also includes letters meant to be read by wide
audiences.  Includes formulary books of sample letters. Letters written as
petitions are classified as <span class=field>Record Type</span>:
<i>Petition</i>.</div>

<div id="title">Literature - Drama</div>
<div id="description">Scripts of plays, can be either prose or verse,
sometimes consist more of stage directions than spoken text.</div>

<div id="title">Literature - Verse</div>
<div id="description">Any literary work that has a verse structure (with a
particular metrical structure or rhyming pattern), including verse
chronicles, songs and poetry.  Often overlaps with other record
types.</div>

<div id="title">Literature - Prose</div>
<div id="description">Any literary work that is written in prose, without a
particular metrical structure or rhyme.  Often overlaps with other record
types.</div>

<div id="title">Liturgy</div>
<div id="description">Instructions for carrying out public rites of worship
or private devotional practices, including specific music and prayers that
follow a liturgical formula. Also includes calendars of feast days,
prayers, blessings, and instructions for saying mass or other worship
ceremonies.</div>

<div id="title">Memoir</div>
<div id="description">Texts that include narratives of personal experiences,
accounts of events at which the author was involved and present, personal
accounts of pilgrimages or religious experiences, or any first-hand
account of events. Often overlaps with other record types.</div>

<div id="title">Memoir - Family</div>
<div id="description">Includes French <i>livres de raison</i> and Italian
<i>ricordi</i> or <i>ricordanze</i>, which are personal diaries that
record both family matters (births, marriages, and deaths of family
members, the selection of godparents) and business matters.  Can also
include English common-place books that record family matters.</div>

<div id="title">Miscellany</div>
<div id="description">Medieval collections of texts that intentionally
contained diverse and often unrelated writings, such as <i>florilegia</i>
(an anthology or "flowering" of writings). </div>

<div id="title">Monastic Rule</div>
<div id="description">Monastic rules (such as the Benedictine Rule) as well
as rules for laypeople who wish to lead a religious life, such as
<i>Ancrene Wisse</i>.</div>

<div id="title">Muster</div>
<div id="description">Records of who is eligible to join the army and what
weapons and equipment they have.</div>

<div id="title">Oration</div>
<div id="description">Any speech, transcription of a speech, or text that is
written for the purpose of being spoken aloud in public, excluding
sermons.</div>

<div id="title">Other</div>
<div id="description">Temporarily used as a catch-all term for items that
don.t fit anywhere else.  Most will eventually be reclassified under an
existing or new record type.</div>

<div id="title">Papal Bull</div>
<div id="description">Formal letters from the pope, sealed with the papal bulla.  They are often included in 
cartularies or as part of ecclesiastical disputes.</div>

<div id="title">Petition</div>
<div id="description">A letter written by an individual or a group of
individuals to a higher power asking for them to take some action, usually
to right a wrong.</div>

<div id="title">Philosophic Work</div>
<div id="description">Any work of a philosophical nature, including
epistemology, logic, and metaphysics.  Can sometimes
overlap with <i>Theology - Doctrine.</i></div>

<div id="title">Prophecy</div>
<div id="description">A work that purports to predict the future.  Some prophecies focus primarily on political 
events; some focus on religious events; some discuss the millennium or the end of the world.</div>

<div id="title">Proverbs</div>
<div id="description">Collection of maxims or brief popular epigrams</div>

<div id="title">Register - Bishop</div>
<div id="description">Records kept by ecclesiastical authorities to record
proceedings of visitations to monastic institutions, ordinations, and
other events which fall under bishops. jurisdiction.</div>

<div id="title">Register - Notarial</div>
<div id="description">Records kept by notaries recording all of the
documents they witness, such as contracts, charters, and wills.</div>

<div id="title">Scripture</div>
<div id="description">Bibles in all languages, Psalters, Books of Hours,
picture bibles, and other biblical texts.</div>

<div id="title">Sermons</div>
<div id="description">Religious instructional speeches, intended to be
delivered in public, often as part of a worship service.  Also includes
sermons circulated in handbooks or formularies for priests to use as
models, and commemorative orations (<i>panegyrics</i>) or sermons
delivered as eulogies. </div>

<div id="title">Taxes</div>
<div id="description">Documents relating to the imposition and collection of
taxes.  Includes tolls, which are lists of taxes or customs assessed on
goods coming in and out of a settlement or country (these can often be
part of another record, such as <i>Charters</i> or <i>Law -
Legislation</i>).</div>

<div id="title">Taxes - Clerical </div>
<div id="description">Documents relating to the imposition and collection of
taxes on clergy. </div>

<div id="title">Taxes - Lay </div>
<div id="description">Documents relating to the imposition and collection of
taxes on laypeople by the state, town, or local lord.</div>

<div id="title">Taxes - Poll Tax</div>
<div id="description">Documents relating to the imposition and collection of
"head" taxes, or taxes levied on every individual; mostly relates to
England, 1377-81. </div>

<div id="title">Theology</div>
<div id="description">Writings that focus on religious doctrine and issues.
[Used only if one of the other Theological categories does not fit.]
</div>

<div id="title">Theology - Devotional</div>
<div id="description">Guides to pious living, works (such as books of hours,
ladders of salvation) for private devotional purposes, literary works
meant to stimulate religious contemplation.  Can include mystical works
meant to be read during meditation or contemplation.  Penitential works
meant for the clergy are entered under <i>Theology - Practical</i> unless
there
is evidence they were used by lay people for devotional purposes, in which
case they are entered under both Record Types.</div>

<div id="title">Theology - Doctrine</div>
<div id="description">Theological works written by learned men (and a few
women), including the church fathers, schoolmen, and university masters,
which discuss the principles, laws, and beliefs established by the Church
as official dogma on such matters as the nature of the Trinity, the
sacraments, and salvation. Includes summas, glosses on summas, quodlibets,
and questiones.</div>

<div id="title">Theology - Mystical Work</div>
<div id="description">Descriptions of mystical visions, treatises about
mysticism, and other works relating to mystical experiences.<br><br></div>

<div id="title">Theology - Practical/Instructional</div>
<div id="description">Instructions for priests, penitentials (manuals for
priests to use during confession, which lists sins parishioners might
commit and the proper penance for each), and other works (such as ladders
of salvation) meant as prescriptive guides for priests and other religious
leaders.  Such literature could also be read by lay people, in which case
the item is entered under both Record Types.</div>

<div id="title">Theology - Summal</div>
<div id="description">Systematic overview of the Christian faith written in a scholastic format. It includes a 
systematic arrangement of all possible arguments for a given position and against its contrary. Can be similar to 
a disputation, but in an abbreviated form not tied to an actual oral debate.</div>

<div id="title">Translation</div>
<div id="description">A work translated from one language to another in the
middle ages.</div>

<div id="title">Treatise - Instruction/Advice</div>
<div id="description">Cookbooks, grammars, books of courtesy, military
handbooks, and other "how to" works.<br><br></div>

<div id="title">Treatise - Political</div>
<div id="description">Mirrors for princes, treatises about laws and
governments.  Mirrors for princes can overlap with the <i>Treatises -
Instruction/Advice</i>.</div>

<div id="title">Treatise - Scientific/Medical</div>
<div id="description">Treatises about medicine, astrology, alchemy, and
other scientific works such as bestiaries and herbals.<br><br></div>

<div id="title">Treatise - Other</div>
<div id="description">A temporary category for treatises that don't fit
elsewhere.</div>

<div id="title">Visitations</div>
<div id="description">Records (usually a set of questions followed by the answers of individuals) generated when 
bishops or other higher authorities visited a monastery or other institution to investigate the state of the 
institution or wrongdoing.</div>

<div id="title">Will</div>
<div id="description">A document stating what should be done with a person's
possessions upon his or her death.</div>




</div>

<small><p>Last Updated: September 24, 2008</p></small>

